<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Fast Capital 360</title>
</head>

<body>
    <div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
        <div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
            <div style='text-align:center; margin:10px 0px 20px 0px;'>
                <a href='#'><img src='{{Logo}}' alt='Fast Capital 360' border='0' /></a>
            </div>
            <div style='margin:0px 0px 10px 10px; float:left; width:100%;'>
                <p>Term of Use Consent</p>
                <div style='text-align:left; margin:20px 0px 40px 0px;' /></div>
        </div>
    </div>
</body>

</html>