<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
			<style>@font-face { font-family: 'Signatures'; src: url('http://lf-staging-fc-assets.s3.amazonaws.com/Signatures.otf'); format('woff2') }</style>
			<title>Untitled Document</title>
		</head>
		<body style='font-family:arial;'>
			<div style='width:1024px; margin:0px auto;'>
				<h3 style='display:block;background:#ccc; padding:7px 10px;'>Certificate of Consent</h3><p>
					<strong style='display:block;'>Agreement to Conduct Business Electonically </strong>I agree to receive legal disclosures electronically to the email address provided, and consent to receive communications in regards to this business funding application.</p><p>
					<strong style='display:block;'>Authorization to Apply for Business Funding</strong>I authorize Ivest 360 LLC, DBA Fast Capital 360 and their funding partners to verify from third parties any information I have submitted on the application; to obtain and review my consumer and business credit reports; and to conduct further credit inquiries as required, which may impact my credit score. I certify all information and documentation submitted is correct and I am authorized to sign on behalf of my Business.</p>
				<h3  style='display:block;background:#ccc; padding:7px 10px;'> Signer 1 Details</h3>
				<div>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Name</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> {{Owner1Name}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Email</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner1Email}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Phone</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> {{Owner1Phone}}</label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>IP Address</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner1IPAddress}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Date</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> {{Owner1Date}}</label>
						</li>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner1Time}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Signature</label>
							<label style='width:45%; margin:5px; font-size:37px; font-weight:normal;font-family:Signatures;'> {{PrintName1}}</label>
						</li>
					</ul>
				</div>
				<h3  style='display:block;background:#ccc; padding:7px 10px;'> Signer 2 Details</h3>
				<div>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Name</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2Name}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Email</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2Email}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Phone</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2Phone}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>IP Address</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2IPAddress}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Date</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2Date}} </label>
						</li>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner2Time}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Signature</label>
							<label style='width:45%; margin:5px; font-size:37px; font-weight:normal;font-family:Signatures;'>{{PrintName2}} </label>
						</li>
					</ul>
				</div>
				<h3  style='display:block;background:#ccc; padding:7px 10px;'> Signer 3 Details</h3>
				<div>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Name</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3Name}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Email</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3Email}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Phone</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3Phone}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>IP Address</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3IPAddress}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Date</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3Date}} </label>
						</li>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner3Time}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Signature</label>
							<label style='width:45%; margin:5px; font-size:37px; font-weight:normal;font-family:Signatures;'>{{PrintName3}} </label>
						</li>
					</ul>
				</div>
				<h3  style='display:block;background:#ccc; padding:7px 10px;'> Signer 4 Details</h3>
				<div>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Name</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner4Name}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Email</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner4Email}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Phone</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner4Phone}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>IP Address</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner4IPAddress}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Date</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner4Date}} </label>
						</li>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner5Time}} </label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Signature</label>
							<label style='width:45%; margin:5px; font-size:37px; font-weight:normal;font-family:Signatures;'>{{PrintName4}} </label>
						</li>
					</ul>
				</div>
				<h3  style='display:block;background:#ccc; padding:7px 10px;'>Application Details</h3>
				<div>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Start Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'>{{Owner1Time}} </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Finish Time</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> {{Owner4Time}}</label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Date</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> {{Owner1Date}}</label>
						</li>
					</ul>
					<ul style='width:32%; display:inline-block; vertical-align:top; padding:0px; margin:0px;'>
						<li style='list-style:none; padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Pages Completed</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> </label>
						</li>
						<li style='list-style:none;padding:5px 0px;'>
							<label style='width:45%; margin:5px; font-size:17px; font-weight:bold;'>Certificate</label>
							<label style='width:45%; margin:5px; font-size:16px; font-weight:normal;'> </label>
						</li>
					</ul>
				</div>
			</div>
		</body>
	</html>