<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Monthly Bank Statements</title>
<style type="text/css">
.table-first{ width:800px; margin-top:40px; margin-bottom:40px; padding:0px; height:auto;font-family:sans-serif; border-spacing: 5px;}
.table-first td{ padding:12px 0px;}
.green-label1{ font-size:19px; color:#228b22; font-weight:bold}
.green-label2{ font-size:16px; color:#228b22; font-weight:bold}
.green-label3{ font-size:14px; color:#228b22; font-weight:bold; width:100%; float:left}
 label{font-size:14px; color:#000; font-weight:bold}
 .border-bottom{ border-bottom: 2px solid #ccc;}
 .bank-statements-details{width:800px; margin-top:40px; margin-bottom:40px; padding:0px; height:auto;font-family:sans-serif; font-size:14px;}
 .bank-statements-details tr th{ background:#000; padding:10px; color:#fff; }
 .bank-statements-details tr td{  padding:10px; color:#000;}
.bank-statements-details tr:nth-child(even) {background: #c0c0c0;}
</style>
</head>

<body>
<table class="table-first" align="center">
    <tr> 
        <td colspan="2">
            <label></label> 
            <label class="green-label1">{{CashflowAccountSection.AccountHolderName}}</label>
        </td>
        
        <td colspan="2">
            <label>INSTITUTION ID:</label>
            <label>{{CashflowAccountSection.InstitutionName}}</label> 
        </td>
        
    </tr>
    
     <tr>
       <td colspan="2">
            <label class="green-label2">{{CashflowAccountSection.AccountType}}</label>
            <label> </label> 
            
        </td>
         <td colspan="2">
           <label>ACCOUNT # ENDING IN:</label> 
            <label>{{CashflowAccountSection.AccountNumber}}</label>
            
            
        </td>
    </tr>
     <tr>
       <td colspan="2">
            <label>BUSINESS ADVANTAGE CHK </label> 
            <label></label>
        </td>
         <td colspan="2">
        </td>
    </tr>
   
    <tr>
       <td colspan="2">
             <label>For {{MonthlySummary.PeriodFrom}} To {{MonthlySummary.PeriodTo}} </label> 
        </td>
         <td colspan="2">
        </td>
    </tr>
    
    <tr>
       <td colspan="2" class="border-bottom" >
           <label class="green-label3"> BEGINNING BALANCE</label>
           <label>{{MonthlySummary.BeginingBalance}}</label>
        </td>
        <td colspan="2" class="border-bottom">
            <label class="green-label3"> # OF DEPOSITS/CREDITS</label>
           <label>{{MonthlySummary.DepositCount}}</label>
        </td>
    
    </tr>
    
    <tr>
       <td colspan="2" class="border-bottom" >
           <label class="green-label3"> DEPOSITS/CREDITS</label>
           <label>{{MonthlySummary.TotalDepositAmount}}</label>
        </td>
        <td colspan="2" class="border-bottom">
            <label class="green-label3"> # OF WITHDRAWALS/DEBITS</label>
           <label>{{MonthlySummary.WithdrawalCount}}</label>
        </td>
    
    </tr>
    
    <tr>
       <td colspan="2" class="border-bottom" >
           <label class="green-label3"> WITHDRAWALS/DEBITS</label>
           <label>{{MonthlySummary.TotalWithdrawalAmount}}</label>
        </td>
        <td colspan="2" class="border-bottom">
            <label class="green-label3"> # DAYS IN CYCLE</label>
           <label>{{MonthlySummary.DateOfMonthlyCycle}}</label>
        </td>
    
    </tr>
    
     <tr>
       <td colspan="2" class="border-bottom" >
           <label class="green-label3"> ENDING BALANCE</label>
           <label>{{MonthlySummary.EndingBalance}}</label>
        </td>
        <td colspan="2" class="border-bottom">
            <label class="green-label3"> AVERAGE DAILY BALANCE</label>
           <label>{{MonthlySummary.AverageDailyBalance}}</label>
        </td>
    
    </tr>
    
     <tr>
       <td colspan="2" class="border-bottom" >
           <label class="green-label3"> # OF DAYS NEGATIVE BALANCE</label>
           <label>{{MonthlySummary.NumberOfNegativeBalance}}</label>
        </td>
        <td colspan="2" >
           
        </td>
    
    </tr>
    
  </table>
  {{#if TransactionList}}
  <table class="bank-statements-details" cellpadding="0" cellspacing="0" align="center">
       <tr>
           <th> POSTED DATE</th>
           <th> DESCRIPTION</th>
           <th> CREDIT</th>
           <th> DEBIT</th>
           <th> BALANCE</th>
       </tr>
	   {{#each TransactionList}}
	   <tr>
			<td style='text-align:center;'>{{Date}}</td>                           
			<td style='text-align:center;'>{{Description}}</td>
			<td style='text-align:center;'>{{Credit}}</td>
			<td style='text-align:center;'>{{Debit}}</td>
			<td style='text-align:center;'>{{RunningBalance}}</td>
	   </tr>
	  {{/each}}
  </table>
  {{/if}}
</body>
</html>
