<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <title>Monthly Cashflow Grid</title>
    <style>
        .monthly-cashflow-section {
            width: 100%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
        }

        .monthly-cashflow {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 0px;
            height: auto;
            font-family: sans-serif;
            text-align: left;
            font-size: 13px;
            color: #000;
        }

        .monthly-cashflow td {
            padding: 10px 6px;
        }

        .monthly-cashflow th {
            padding: 10px 6px;
            background: #1d1d1d;
            color: #fff;
        }

        .monthly-cashflow-section .label-left {
            font-size: 17px;
            color: #4c9242;
            float: left;
            margin: 10px;
        }

        .monthly-cashflow-section .label-right {
            font-size: 17px;
            color: #4c9242;
            float: right;
            text-align: right;
            margin: 15px;
        }

        .monthly-cashflow tr:nth-child(even) {
            background: #e8e8e8
        }

        .monthly-cashflow tr td:first-child {
            background: #1d1d1d;
            color: #fff;
            font-weight: bold;
        }

        .bg-yellow {
            background: #ffffc6;
        }

        .bg-blue {
            background: #9dcae6;
        }

        .bg-light-blue {
            background: #daebf6;
        }

        @media print {
            body {
                -webkit-print-color-adjust: exact;
            }
        }
    </style>
</head>

<body>
    <div class='monthly-cashflow-section'>
        <label class='label-left'>{{AccountHolderName}}</label>
        <label class='label-right'>Account: {{AccountType}}</label>
    </div>
    {{#each ReportList}}
    <div class='monthly-cashflow-section'>
        <label class='label-left'>{{ReportHeader}}</label>
        <table class='monthly-cashflow' align='center' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th></th>
                    <th>DEPOSITS</th>
                    <th>DEPOSIT COUNT</th>
                    <th>DEPOSIT AVERAGE</th>
                    <th>BEGINNING BALANCE</th>
                    <th>ENDING BALANCE</th>
                    <th>INC/(DEC)</th>
                    <th>ADB</th>
                    <th>ADB %</th>
                    <th>NEGATIVE DAYS</th>
                    <th>NSF</th>
                </tr> {{#each GridData}}
                <tr>
                    <td>{{GridRowHeader}}</td>
                    <td>{{Deposits}}</td>
                    <td>{{DepositCount}}</td>
                    <td>{{DepositAverage}}</td>
                    <td>{{BeginningBalance}}</td>
                    <td>{{EndingBalance}}</td>
                    <td>{{IncDec}}</td>
                    <td class='bg-blue'>{{ADB}}</td>
                    <td>{{ADBPercentage}}</td>
                    <td class='bg-blue'>{{NegativeDays}}</td>
                    <td>{{NSF}}</td>
                </tr> {{/each}}
            </tbody>
        </table> {{/each}}
    </div>
</body>

</html>